# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================
fl_env/
venv/
.env/

# ======================
# Dataset
# ======================
data/

# ======================
# Experiment Outputs
# ======================
results/
*.png
*.jpg
*.jpeg

# History logs
history_*.json

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db

# VSCode
.vscode/

# ======================
# Logs
# ======================
*.log

# ======================
# Temporary files
# ======================
*.tmp
*.bak