# =========================
# Python & Environment
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
fl_env/
.env

# =========================
# Project Specific (Data & Output)
# =========================
# Ignore downloaded datasets
data/

# Ignore experiment outputs, plots, and history logs
results/
*.json
*.png

# =========================
# IDE & OS specific
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db